div.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 900;
    font-size: 4rem;
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, rgb(56, 177, 193), rgb(16, 85, 195));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}