@keyframes ScaleOnClick {
    from {
        transform: scale(.8);
        -webkit-transform: scale(.8);
    }
}

#Magic8Ball {
    font-family: 'Abril Fatface', cursive;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: none;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.186);
    animation: ScaleOnClick 100ms ease-in-out;
}

#Magic8Ball {
    animation: ScaleOnClick 400ms ease-in-out linear infinite;
}


#Magic8Ball p {
    width: 200px;
    font-size: 1.5rem;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    top: 150px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.519);
}

.green {
    background: linear-gradient(90deg, green, rgb(97, 195, 97));
}

.green.clicked {
    transform: scale(.98);
    background: linear-gradient(90deg, rgb(2, 70, 2), rgb(57, 118, 57));
}

.goldenrod {
    background: linear-gradient(90deg, rgb(240, 173, 4), rgb(249, 207, 100));
}

.goldenrod.clicked {
    transform: scale(.98);
    background: linear-gradient(90deg, rgb(173, 124, 1), rgb(174, 145, 70));
}

.red {
    background: linear-gradient(90deg, red, rgb(248, 104, 104));
}

.red.clicked {
    transform: scale(.98);
    background: linear-gradient(90deg, rgb(143, 4, 4), rgb(143, 59, 59));
}

.black {
    background-color: black;
}